/*  your css code here. If applicable */
.book-library{
	box-shadow: 1px 1px 2px 2px lightgrey;
	margin: 2vw;
	
}
h1{
	text-align: center;
}
img{
}
p{
	color: #777777;
}
button{
	background-color:#2ecc71;
	border: none;
	color: white;
	width: 92vw;
	margin-left:1vw;
}
body{
	background-color: #f8f8f8;
}